@import "tailwindcss";

* {
  font-family: 'Playfair Display', cursive;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: white;
}